@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Syne:wght@400;500;600;800&display=swap');
.container {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
}


.orderForm {
    width: 50%;
    height: 70vh;
    border: 3px solid #E0E0E2;
    padding: 20px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formInput {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

input {
    border: 2px solid #588157;
    height: 35px;
    padding: 2px;
    border-radius: 5px;
}

.cartGoods {
    width: calc(100% - 300px);
    overflow-y: scroll;
    width: 50%;
}

.goodsInCartList {
    list-style-type: none;
    padding: 0;
}

.goodItemInCart {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cartImage {
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}


.goodTitle {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}


.goodPrice {
    font-size: 18px;
    margin-bottom: 5px;
}

.quantityCounter {
    display: flex;
    align-items: center;
}

.goodQuantity {
    width: 40px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 15px 0;
    background-color: #588157;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 15px;
}

.button:not(:last-child) {
    margin-top: 20px;
}

.button:hover, .button:focus {
    transition: 0.5s all ease 0s;
    background-color: #3a5a40;
}

.cartGoods {
    height: 70vh;
    border: 3px solid #E0E0E2;
    padding: 20px 30px 20px 20px;
    border-radius: 15px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;

}

.goodItemInCart {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;

}


.increment {
    margin-top: 0px !important;
    margin-right: 5px;
    padding: 10px 20px;
}

.decrement {
    margin-left: 5px;
    padding: 10px 20px;
    text-align: center;
}

.removeItemButton {
    width: 200px;
    padding: 7px 0;
    border-radius: 10px;
    background-color: darkred;
    font-size: 18px;
    color: #FFF;
    margin-top: 5px;
}

.totalPrice {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.totalPr {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}