@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;800&display=swap');

.header {
    width: 100%;
    height: 100px;
    font-family: 'Syne', sans-serif;
    background-color: #E0E0E2;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__logo {
    color: black;
    font-size: 38px;
}
.green {
    color: #588157;
}
.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navigation-list {
    display: flex;
    max-width: 1300px;
    flex: 1 1 1300px;
    justify-content: space-between;
}
.navigation-item {
}
.nav-link {
    font-size: 28px;
    color: black;
    
}
.active {
    text-decoration-line: underline;
    text-decoration-color: #588157;
}
.header__tools {
    display: flex;
    justify-self: flex-end;
    
}
.tools__body {
}
.tools__list {
    display: flex;
    column-gap: 20px;
}
.tools__link {
}
.tools__git {
}
.tools__in {
}
.tools__telegram {
}